@charset "utf-8";
html {
    background-color: white
}
body {
    margin: 0;
    font-size: 16px;
    width: 100%;
}
.header {
    height: 200px;
    background-size: contain;
    background-image: url("picture/Git_logo.jpeg");
}
.top {
    text-align: center;
    height: 250px;
    width: auto;
}
.Git, .system {
    color: blue;
    font-size: 30px;
}
.introduction {
    font-size: 35px;
    line-height: 1.5em;
    text-align: center;
}
h2, h3 {
    font-size: 28px;
    line-height: 1.8em;
    text-align: center;
}
.middle {
    height: 400px;
    width: 100%;
}
.middle h2 {
    font-size: 35px;
}
.middle p {
    font-size: 24px;
}
.num_logo {
    display: inline-block;
    zoom: 0.02;
    vertical-align: middle;
}
.folder {
    display: block;
    text-align: center;
}
.ex {
    display: inline-block;
}

.bottom {
    height: 400px;
    width: auto;
}
.feeling {
    text-align: center;
}
.text_div {
    display: block;
    height: 250px;
    border: 1px;
    margin: 2%;
    padding-left: 10%;
}
.text_div p {
    font-size: 20px;
    line-height: 2.5em;
}
.bottom {
    font-size: 25px;
    line-height: 1.5em;
    height: 200px;
}
